<style>
    .navbar {
        display: flex;
        height: 3vw;
        justify-content: space-between;
        align-items: center;
        padding: 0 2vw 0 2vw;
    }

    .create-button {
        text-align: center;
        text-decoration: none;

        color: #ffffff;
        background: #007bff;
        border: none;

        width: 5vw;
        height: 1.5vw;
        border-radius: 0.3vw;
    }

    .website-name {
        text-decoration: none;
        font-size: 20px;
        color: #181818;
    }
</style>

<div class="navbar">
    <h2><a class="website-name" href="/articles">fakeinformation.com</a></h2>

    <button class="create-button"><a href="/articles/create" style="text-decoration: none; color: #fff;">Create</a></button>
</div>